doctype html
html(lang="ko")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta( name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/css/check.css')
    script(src="https://kit.fontawesome.com/9b331147db.js",crossorigin="anonymous")
    link(rel='stylesheet', href='/css/home.css')
  body
    a(class="ha" href="/")
      header
        h1 반려동물 백서
    ul.MENU
      li
        a(href="/") HOME
          i.fa-solid.fa-house
      li
        a(href="/freeboard") 자유게시판
      li
        a(href="/notice") 공지사항
      li
        a(href="login") 로그인
      li
        a(href="/join") 회원가입
    ul.alrim
      li.alrim
        a(href="https://vpet.co.kr/category/%ED%8C%8C%EC%86%90%EC%9C%A0%ED%86%B5%EA%B8%B0%ED%95%9C%EC%9E%84%EB%B0%95/441/" target="new")
          strong 파손/임박 상품 세일중 ▶ 브이펫 바로가기
    div.nanugi
      div.dropdown_menu
        ul#gnb 
          h4 animals 
          li
            a.notwhitespace(href="") 설치류
              img.b_animal(src="/images/animal/설치류.png", alt="설치류")
            ul.sub_menu.notwhitespace
              li 기니피그
                a(href="/mouse1")
                  img.b_animal.anima(src="/images/animal/설치류.png", alt="설치류1") 
              li 친칠라
                a(href="/mouse2")
                  img.b_animal.anima(src="/images/animal/설치류.png", alt="설치류2")
              li 햄스터
                a(href="/mouse3") 
                  img.b_animal.anima(src="/images/animal/설치류.png", alt="설치류3") 
          li
            a.notwhitespace(href="") 어류
              img.b_animal(src="/images/animal/어류.png", alt="설치류")
            ul.sub_menu.notwhitespace
              li 금붕어
                a(href="/fish1") 
                  img.b_animal.anima(src="/images/animal/어류.png", alt="어류1") 
              li 구피
                a(href="/fish2") 
                  img.b_animal.anima(src="/images/animal/어류.png", alt="어류2")
              li 네온테트라
                a(href="/fish3") 
                  img.b_animal.anima(src="/images/animal/어류.png", alt="어류3")
          li
            a.notwhitespace(href="") 조류
              img.b_animal(src="/images/animal/조류.png", alt="조류")
            ul.sub_menu.notwhitespace
              li 앵무새
                a(href="/bird1") 
                  img.b_animal.anima(src="/images/animal/조류.png", alt="어류1") 
              li 카나리아
                a(href="/bird2") 
                  img.b_animal.anima(src="/images/animal/조류.png", alt="어류2")
              li 십자매
                a(href="/bird3") 
                  img.b_animal.anima(src="/images/animal/조류.png", alt="어류3")
          li
            a.notwhitespace(href="") 파충류
              img.b_animal(src="/images/animal/파충류.png", alt="파충류")
            ul.sub_menu.notwhitespace
              li 뱀
                a(href="/snake1") 
                  img.b_animal.anima(src="/images/animal/파충류.png", alt="어류1") 
              li 거북이
                a(href="/snake2") 
                  img.b_animal.anima(src="/images/animal/파충류.png", alt="어류2")
              li 도마뱀
                a(href="/snake3") 
                  img.b_animal.anima(src="/images/animal/파충류.png", alt="어류3")
          li
            a.notwhitespace(href="") 포유류
              img.b_animal(src="/images/animal/포유류.png", alt="설치류")
            ul.sub_menu.notwhitespace
              li 강아지
                a(href="/cat1") 
                  img.b_animal.anima(src="/images/animal/포유류.png", alt="어류1") 
              li 고양이
                a(href="/cat2") 
                  img.b_animal.anima(src="/images/animal/포유류.png", alt="어류2")
              li 라쿤
                a(href="/cat3") 
                  img.b_animal.anima(src="/images/animal/포유류.png", alt="어류3")
      section.hwamyeon
        block content
    footer.notwhitespace.mf 
      a(href="https://www.animal.go.kr/front/awtis/public/publicList.do?menuNo=1000000055" target="new") 유기동물조회
      a(href="https://www.animal.go.kr/front/index.do" target="new") 국가동물보호정보시스템
      a(href="https://pawinhand.kr/" target="new") 포인핸드
      a(href="https://apms.epis.or.kr/home/kor/main.do" target="new") 동물사랑배움터

    

    
